<div class="layout-row min-size">
    <div class="callout linked-objects">
        <div class="header">
            <h3><?= e(trans('acorn.calendar::lang.models.event.linked')) ?></h3>
            <ul><?php
                // Backlinked models
                foreach ($linkedEvents as $linkedEvent) {
                    if ($linkedEvent->modelExists()) {
                        $linkedModel = $linkedEvent->model;

                        $classParts  = explode('\\', get_class($linkedModel));
                        $class       = end($classParts);
                        $classSnake  = Str::kebab($class);
                        $classShort  = end($classParts);
                        
                        $name        = ($linkedModel->hasAttribute('name') ? $linkedModel->name : $linkedModel->id);
                        $name        = "$classShort::$name";
                        $nameEscaped = e($name);

                        if (method_exists($linkedModel, 'controllerUrl')) {
                            $url = NULL;
                            try {
                                // Maybe there is no controller...
                                $url = $linkedModel->controllerUrl('update');
                            } catch (Exception $ex) {}
                            if ($url) print("<li class='$classSnake'><a target='_blank' href='$url'>$nameEscaped</a></li>");
                        } else {
                            print("<li class='$classSnake'>$nameEscaped</li>");
                        }
                    }
                }
            ?></ul>
        </div>
    </div>
</div>
