<div class="layout-row min-size">
    <div class="callout callout-warning">
        <div class="header">
            <button type="button" class="close">×</button>
            <i class="icon-warning"></i>
            <h3><?= e(trans('acorn.calendar::lang.models.event.locked_event')) ?></h3>
            <p>
                <?= e(trans('acorn.calendar::lang.models.event.can_break_lock')) ?>
                <button type='submit' class='btn btn-danger wn-icon-send'
                    data-request='onBreakLock'
                    data-request-form='.control-popup form'
                    data-dismiss='hint'
                ><?= e(trans('acorn.calendar::lang.models.event.break_lock')) ?></button>
            </p>
        </div>
    </div>
</div>
