#layout-body {
    padding:10px!important;
}
.linked-objects > .header > ul,
.linked-objects > .header {
    padding: 0px;
}
.linked-objects > .header > h3,
.linked-objects > .header > ul,
.linked-objects > .header > ul > li {
    margin-left:5px;
    display: inline;
}
.calendar.layout {
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.calendar .dragged {
    /* TODO: Not sure why the drag-drop sub-system is not doing this... */
    position:absolute;
    pointer-events: none; /* So we can see what is under the li */
    z-index:1000;
    box-shadow:0px 0px 5px #fff;
}
.layout > .layout-row.calendar-header > .layout-cell {
    border-left:1px solid #ddd;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    background-color:#f3f3f3;
    padding:4px;
    font-weight:bold;
    height:auto;
    font-size:12px;
    text-align:center;
}
.calendar-day > a {
    display:block;
    position:relative;
    height:100%;
}
.layout > .layout-row > .layout-cell.calendar-day.in-range {
    border-left:1px solid #ddd;
    border-top:1px solid #ddd;
    background-color:#fff;
    padding:4px;
    height:140px;
}
.layout > .layout-row > .layout-cell.calendar-day.in-range:hover {
    background-color:#f0f0f0;
}
.day-type-month-start .calendar-day-header {
    font-weight:bold;
    color:#000;
}
.layout > .layout-row > .layout-cell.calendar-day.in-range.day-type-month-start {
    border-left:3px double #000;
}
.layout > .layout-row > .layout-cell.calendar-day.in-range.month-1st-week {
    border-top:3px double #000;
}
.layout > .layout-row > .layout-cell.calendar-day.time-today {
    border:1px solid #faa;
    background-color:#fff0f0!important;
}
.layout > .layout-row > .layout-cell.calendar-day:hover .event-add {
    color:#fff;
    background-color:#1681ba;
    transition:all 0.5s;
}
.calendar-day-header {
    text-align:right;
    color:#aaa;
    font-size:12px;
    margin-bottom:2px;
    padding:0px;
}
.calendar-day-header .event-add {
    float:left;
    padding:0px 3px;
    margin-right:4px;
    border-radius:2px;
    font-weight:bold;
    vertical-align:middle;
    font-size:9px;
}
.calendar-event-list > li.placeholder {
    opacity:0.3;
    pointer-events: none; /* Might drop on to placeholder */
}
.calendar-event-list > li {
    margin-bottom:2px;
}
.calendar-event-list > li > a {
    display:block;
    padding:0px 6px;
    margin-right:3px;
    box-shadow: 1px 1px 5px #000;
    transition:box-shadow 0.5s;
}
.calendar-event-list > li > a:hover {
    box-shadow: none;
    transition:box-shadow 0.5s;
}
.calendar-event-list > li a:hover {
    text-decoration:none;
}
.calendar-day .calendar-event-list > li .start,
.calendar-day .calendar-event-list > li .end {
    font-size:10px;
}
.calendar-event-list > li .location {
    background-image:url('../images/location.png');
    background-repeat:no-repeat;
    background-position:left middle;
    padding-left:14px;
}
.calendar-event-list > li .attendees {
    background-image:url('../images/attendees.png');
    background-repeat:no-repeat;
    background-position:left middle;
    padding-left:24px;
}
.calendar-day ul {
    list-style:none;
    padding:0px;
    margin:0px;
    max-height: 200px; /* About 9 single line events */
    overflow-y: auto;
    height:90%; /* TODO: This is wrong! Need to cover the whole area for drops */
}
.layout > .layout-row > .layout-cell.calendar-day.time-past .calendar-event-list > li {
    opacity:0.5;
}
.calendar-day .calendar-event-list > li .attendees,
.calendar-event-list > li .location {
    display:block;
    font-size:10px;
}
.calendar .calendar-event-list > li .message-count {
    display:none;
    position:absolute;
    bottom:-5px;
    right:2px;

    font-size:9px;
    color:#fff;
    background:#f00;
    border-radius:10px;
    font-weight:bold;
    vertical-align:middle;
    padding:0px 4px;
}
.calendar .calendar-event-list > li .has-messages .message-count {
    display:block;
}
.calendar-day .calendar-event-list > li .alarm:empty {
    display:none;
}
.calendar-day .calendar-event-list > li .alarm {
    position:absolute;
    bottom:0px;
    right:4px;
    font-size:0px;
}
.calendar-day .calendar-event-list > li .alarm::before {
    content:"â²";
    font-size:12px;
}

.calendar-day .calendar-event-list > li .repeat-with-frequency {
    color:#000;
    background-color:#fff;
    text-shadow:none;
    border:1px solid #999;
    border-radius:4px;
    padding:0px 3px;
    font-size:8px;
    font-weight:normal;
    float:right;
    margin-top:-3px;
}
.calendar-day .calendar-event-list > li .repeat-type-none .repeat-with-frequency {
    display:none;
}
.calendar-event-list > li .start,
.calendar-event-list > li .end {
    display:none;
}
.calendar-event-list > li .has-start {
    border-top-left-radius:6px;
    border-bottom-left-radius:6px;
}
.calendar-event-list > li .has-end {
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
}
.calendar-event-list > li .has-start .start {
    display:inline;
}
.calendar-event-list > li .has-end .end {
    display:inline;
}
/* TODO: Want to extend the continuing a bit
.calendar-event-list > li .continue-start {
    margin-left:-4px;
}
.calendar-event-list > li .continue-end {
    margin-right:-4px;
}
*/
.calendar-event-list > li .can-write:before,
.calendar-event-list > li .is-locked:before {
    display:none;
}
.calendar-event-list > li .can-write.value-false:before,
.calendar-event-list > li .is-locked.value-true:before {
    display:block;
    position:absolute;
    bottom:1px;
    right:2px;

    background-color:#fff;
    border-radius:24px;
    padding:1px 3px;

    font-family:"Font Awesome 6 Free";
    font-weight: 900;
    font-size:10px;
    content: "\f023";
    color:#000;
}
.calendar-event-list > li > a.is-locked {
    opacity:0.8;
    background-color:#f0f0f0!important;
    color:#000!important;
    border:1px solid #999;
}
.calendar-event-list > li .is-locked.value-true {
    position:absolute;
    top:4px;
    bottom:0px;
    left:50%;
    right:0px;
    margin-left:-12px;

    background-image:url(../images/islocked.gif);
    background-repeat:no-repeat;
    background-size:24px 24px;
}

/* Popup */
.modal-header, .modal-body, .modal-footer {
    /* TODO: nice animation */
    transition:all;
}
.calendar.modal-footer .btn-danger,
.calendar.modal-header .btn-danger {
    background-color:#770000;
}

.calendar.modal-header .callout {
    margin:10px 0px 0px 0px;
}
.calendar.modal-header .event-name {
    font-style:italic;
}
.calendar.modal-header .instance-name,
.calendar.modal-header .part-name {
    font-size:10px;
    font-weight:bold;
    border-radius:24px;
    color:#fff;
    padding:4px 6px;
    vertical-align: middle;
}
.calendar.modal-header .instance-name {
    background-color:#666;
}
.calendar.modal-header .part-name {
    background-color:#a66;
}
.calendar.modal-header .manage-toolbar {
    height:0px;
    overflow:hidden;
    transition:height 0.5s;
}
.calendar.modal-header:hover .manage-toolbar {
    height:20px;
    transition:height 0.5s;
}
.calendar.modal-header .manage-toolbar > .manage {
    color: #666;
}
.calendar.modal-footer .from-date {
    font-style:italic;
}
.calendar #Form-field-mask_type-group {
    /* When other options are available, we cna show this */
    display:none;
}
.calendar #Form-field-mask-group > label {
    display:none;
}
.calendar #Form-field-mask-group div.field-checkboxlist-inner {
    padding:4px 4px 0px 8px;Form-field-updated_at-group
}
.calendar #Form-field-mask-group div.checkbox,
.calendar #Form-field-repeat-group div.radio {
    margin:0px;
}

.calendar #Form-field-event-permissions-group table td {
    padding: 4px 10px;
    color:#000;
}
.calendar #Form-field-event-permissions-group table label,
.calendar #Form-field-event-permissions-group table input {
    font-size:16px;
    cursor:pointer;
    margin:0px;
    vertical-align: middle;
}
.calendar #Form-field-event-permissions-group table input {
    height: 17px;
    width: 17px;
}
.calendar #Form-field-event-permissions-group .permissions-number {
    font-size:9px;
    font-weight:bold;
    border-radius:24px;
    color:#fff;
    background-color:#777;
    padding:1px 4px;
    vertical-align: middle;
}
.calendar #Form-field-mask-group.hide {
    display:block!important;
    opacity:0.5;
}
.calendar #Form-field-mask-group.hide .custom-checkbox label:before {
    display:none;
}

/* ---------------- Dirty reads -------------- */
#Form-field-updated_at-group {
    display:none;
}
.calendar.dirty-read {
    opacity:0.8;
}
.calendar.dirty-read button {
    display:none;
}
.calendar.dirty-read button.action-close {
    display:block;
}
.hint-dirty-read {
    display:none;
}
.calendar.dirty-read .hint-dirty-read {
    display:block;
}

